force-app/main/default/flows/getWebContacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignAccountIds</name>
        <label>取引先IDを割り当て</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>WebAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopAccountsByWebSource.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAccountsByWebSource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignContactAccountIds</name>
        <label>取引先IDを割り当て</label>
        <locationX>264</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>ContactsAccountIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopContacts.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopContacts</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>取引先ソースがWebの責任者を取得 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>取引先ソースがWebの責任者を取得</label>
    <loops>
        <name>loopAccountsByWebSource</name>
        <label>ループ Webの取引先</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>getAccountsByWebSource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignAccountIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopContacts</name>
        <label>ループ関連する取引先責任者</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <collectionReference>getContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignContactAccountIds</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountsByWebSource</name>
        <label>ソースがWebの取引先を取得</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopAccountsByWebSource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContacts</name>
        <label>関連する取引先責任者を取得</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>WebAccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountsByWebSource</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountsByWebSource</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactsAccountIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WebAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
